/*-------------------------------------------------*/
/*                   Directions                    */
/*                Author Mina isaac                */
/*                  mina-isaac.com                 */
/*-------------------------------------------------*/

.logo{
    height:30px;
}

.nav-avatar{
    width:30px;
    height:30px;
    border:1px solid rgb(181, 181, 181);
    border-radius: 50%;
}

.table-custom-bg{
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

#got-to{
  background: white;
  list-style-type: none;
}

.dropdown-toggle::after {
    display: none !important;
}

/*----------------Custom Bredcrumb---------------*/

.default-breadcrumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0.9rem;
  }
  .default-breadcrumb li.crumb {
    position: relative;
    margin-bottom: 0.5em;
    padding: 0.25em;
    background-color: #eaecf1;
    color: #8093A7;
  }
  .default-breadcrumb li.crumb::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 1.5em;
    background-color: #eaecf1;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  }
  .default-breadcrumb li.crumb::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    height: 100%;
    width: 1.5em;
    background-color: #eaecf1;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    transform: translateX(-100%);
  }
  .default-breadcrumb li.crumb:not(:first-child) {
    margin-left: 2em;
  }
  .default-breadcrumb li.crumb:first-child {
    padding-left: 0.5em;
    border-radius: 5px 0 0 5px;
  }
  .default-breadcrumb li.crumb:first-child::before {
    display: none;
  }
  .default-breadcrumb li.crumb:last-child {
    padding-right: 1em;
    border-radius: 0 5px 5px 0;
  }
  .default-breadcrumb li.crumb:last-child::after {
    display: none;
  }
  .default-breadcrumb li.crumb.active {
    background-color: #00b0ff;
    color: #ffffff;
  }
  .default-breadcrumb li.crumb.active::before, .default-breadcrumb li.crumb.active::after {
    background-color: #00b0ff;
  }
  .default-breadcrumb li.crumb .bredcrumb-link {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .default-breadcrumb li.crumb .bredcrumb-link a {
    text-decoration: none;
  }

  .default-breadcrumb li.crumb a {
    color: #8093A7;
  }
  .default-breadcrumb li.crumb a:hover {
    color: #00b0ff;
  }

  *[dir=rtl] .default-breadcrumb li.crumb {
    text-align: right;
    direction: rtl !important;
  }
  *[dir=rtl] .default-breadcrumb li.crumb::after {
    right: 100% !important;
    left: unset !important;
    background-color: #eaecf1;
    clip-path: polygon(50% 50%, 100% 100%, 100% 0);
  }
  *[dir=rtl] .default-breadcrumb li.crumb::before {
    right: 1px !important;
    left: unset !important;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 50% 50%, 100% 0);
    transform: translateX(100%);
  }
  *[dir=rtl] .default-breadcrumb li.crumb:not(:first-child) {
    margin-right: 2em;
    margin-left: 0;
  }
  *[dir=rtl] .default-breadcrumb li.crumb:first-child {
    padding-right: 0.5em;
    padding-left: 0;
    border-radius: 0 5px 5px 0;
  }
  *[dir=rtl] .default-breadcrumb li.crumb:last-child {
    padding-right: 0;
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
  }



/*--------------------Loader-------------------*/

#app {
    display:none;
}

#page-loader {
  text-align:center;
  font-size:23px;
  margin: auto;
  transform: translate(0%,160%);
  background-image: url("/loader.svg") ;
  width: 130px;
  height: 130px;
}

/*--------------Custom Search Box--------------*/

#search-btn {
    background:#03a7f3;
    color:white;
    padding:10px 20px;
    border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    -o-border-radius:0 5px 5px 0;
    border:0 none;
    font-weight:bold;
}

#search-box {
    background: white;
    padding:9px;
    border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    -o-border-radius:5px 0 0 5px;
    border:1px solid #f3f3f3;
    width:17rem;
    outline: 0 none;
    transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    caret-color: #3b98df;
    padding-left:1.7rem
}

#search-box:focus {
    /* width:18rem; */
    outline-width: 0;
    border-color:  rgba(120, 217, 255, 0.8);
    box-shadow: 0 0 0 0.02rem rgba(120, 217, 255, 0.8);
}

#search-btn i:after{
    transform: scale3d(1, 1, 1);
    transform-origin: 50% 50%;
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.25s ease-out;
}

#search-btn:hover i{
  transform: scale3d(1, 1, 1);
  transform-origin: 50% 50%;
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.25s ease-out;
  transform: scale3d(1.5, 1.5, 1);
}

.spinner {
  position: relative;
  color: transparent !important;
  pointer-events: none;
}

.spinner::after {
  content: '';
  position: absolute !important;
  top: calc(50% - (1em / 2));
  left: calc(50% - (1em / 2));
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid #43a4f9;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
}

.result-img{
  width:1.7rem;
  height:1.7rem;
}

@-webkit-keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
}

/*----------------Fixed Div------------------*/

/* .stick-div {
    position: fixed;
    top: 0;
} */

.fixed-nav {
    position: sticky;
    top: 0;
    z-index: 999;
}

/*------------------- Scroll Bar -----------------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(212, 206, 206); 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: #3b98df; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  cursor: pointer
}

::-webkit-scrollbar-thumb:hover {
  background: #2294eb; 
}

/*------------------ Profile --------------------*/

.profile-username{
  margin-top:-3rem;
}
.profile-username{
  margin-top:-3rem;
}

/*------------------Topics Tags -----------------*/

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  text-align: center; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: rgb(104, 104, 104);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #03A0E8;
  color: white;
}

.tag:hover::after {
   border-left-color: #03A0E8; 
}

/*------------------Topics Tags -----------------*/

.topics {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.topics li {
  text-align: center; 
}

.topic {
 
  background: #eee;
  border-radius: 12px;
  color: grey;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.topic:hover {
  background-color: #03A0E8;
  color: white;
}

.topic:hover::after {
   border-left-color: #03A0E8; 
}

/*------------------- Covers --------------------*/

.profile-cover{
    height:5rem;
    background: url('/background.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    border-radius: 3px;
}

.profile-img{
    height:5.5rem;
    width:5.5rem;
    margin-top: -4rem;
}

.community-cover{
    height:5rem;
    background: url('/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 3px;
}

.community-logo{
    height:5.5rem;
    width:5.5rem;
    margin-top: -3rem;
}

.com-logo{
  height:2.5rem;
  width:2.5rem;
}

.w-0-5{
  height:0.5rem;
}

.info-image{
  border:1px solid  rgba(0,0,0,0.22);
  border-radius:50%;
  width: 3rem;
  height: 3rem;
}

.info-background{
  background-image: url('/background.webp');
  background-color: #0079d2;
}
/*----------------Stories Slider---------------*/

.story .story-item {
	height: 160px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	position: relative;
	font-size: 13px;
}

.story .story-item:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: .2;
	border-radius: 10px;
}

.story .story-item span {
	position: absolute;
	bottom: 0;
	padding: 10px 5px;
	font-family: sans-serif;
}

.story .owl-stage {
	right: 15px;
}

.rounded2 {
	width: 32px;
	height: 32px;
	margin: 5px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #3877e1;
}

.rounded1 {
	background: #fff;
	color: blue;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-repeat: no-repeat;
	margin: 5px;
	background-size: cover;
	background-position: center center;
	position: absolute;
	padding: 4px;
}

.owl-dots{
    display:none;
}

/*----------------Share Modal------------------*/

#shareBtn{
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: none;
    background-color: #eee;
    color: #7d2ae8;
    border: none;
}

.btn-close{
    box-shadow: none;
    border: none;
    outline: none;
}

.modal-body .icons{
    margin: 15px 0px 20px 0px;
}

.modal-body .icons a{
    text-decoration: none;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

.modal-body .icons a:nth-child(1){
    color: #1877F2;
    border-color: #B7D4FB;
}

.modal-body .icons a:nth-child(1):hover{
    background-color: #1877F2;
    color: #fff;
}

.modal-body .icons a:nth-child(2){
    color: #46C1F6;
    border-color: #b6e7fc;
}

.modal-body .icons a:nth-child(2):hover{
    background-color: #46C1F6;
    color: #fff;
}


.modal-body .icons a:nth-child(3){
    color: #25d366;
    border-color: #bef4d2;
}

.modal-body .icons a:nth-child(3):hover{
    background-color: #25d366;
    color: #fff;
}


.modal-body .icons a:nth-child(4){
    color: #0088cc;
    border-color: #b3e6ff;
}

.modal-body .icons a:nth-child(4):hover{
    background-color: #0088cc;
    color: #fff;
}

.modal-body .icons a:hover{
    border-color: transparent;
}

.modal-body .icons a span{
    transition: all 0.09s ease-in-out;
}

.modal-body .icons a:hover span{
    transform: scaleX(1.1);
}

.modal-body .field{
    margin: 15px 0px -5px 0px;
    height: 45px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 0 5px;
}

.modal-body .field.active{
    border-color: #0088cc;
}

.field span{
    width: 50px;
    font-size: 1.1rem;
}

.field.active span{
    color: #0088cc;
}

.field input{
    border: none;
    outline: none;
    font-size: 0.89rem;
    width: 100%;
    height: 100%;
}

.field button{
    padding: 5px 16px;
    color: #fff;
    background: #0B5ED7;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 500;
}



/*----------------Tab Content Custom---------------*/

.nav-tabs .nav-link {
    color: #6C757D;

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #00B0FF;
    background-color:white;
}
/*----------------Select 2 Custom------------------*/

.select2-selection__choice{
    margin-top: 0px!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
    background-color: transparent!important;
    border:none!important;
    border-radius: 4px!important;
    background-color: #0b5ed7 !important;
    color:white;
}

.select2-selection__choice__remove{
    border: none!important;
    border-radius: 0!important;
    padding: 0 2px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color:white;
}

.select2-selection__choice__remove:hover{
    background-color: transparent!important;
    color: #ef5454 !important;
}

/*--------------------Back To Top---------------------------*/

#go-top {
  display: inline-block;
  background-color: #2b8fdc;
  width: 50px;
  height: 50px;
  text-align: center;
  color:white;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#go-top i{
    margin-top:15px;
}

#go-top:hover {
  cursor: pointer;
  background-color: #333;
}
#go-top:active {
  background-color: #555;
}
#go-top.show {
  opacity: 1;
  visibility: visible;
}

/*------------------Community Card--------------------*/


.community-card-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.commuity-card {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);  */
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25), 1px 1px 1px 1px rgba(0,0,0,0.22); 
  border:1px solid  rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.commuity-card .card-image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.commuity-card .card-image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover
}

.commuity-card .card-title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: -80px;
  height: 40px;
}

.commuity-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.rounded-image{
  border:1px solid  rgba(0,0,0,0.22);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.border-image{
  border:1px solid  rgba(0,0,0,0.22);
  border-radius:50%;
  width: 35px;
  height: 35px;
}

.details{
  width: 100%;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-around;
}

.user-details{
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.details h2{
  font-weight: 400;
}
.details span{
  color: var(--theme-color);
}
/*------------------Media Query--------------------*/

/*------Mobile devices -----*/


@media (max-width: 330px) {
    .modal-body .icons a{
        margin-right: 15px;
        width: 35px;
        height: 35px;
    }

    #trending-communities{
        display: none;
    }

    #trending-posts{
        display: none;
    }

    #home-page{
        display: none;
    }
}

@media (max-width: 480px) {
    #trending-communities{
        display: none;
    }
    #trending-posts{
        display: none;
    }
    #home-page{
        display: none;
    }
}

@media all and (max-width: 500px) {
  .community-card-list {

    flex-direction: column;
  }
}

/*------iPads, Tablets -----*/

@media (max-width: 768px) {

}

/*---Small screens, laptops ----*/


@media (max-width: 1024px) {

}

/*---Desktops, large screens----*/

@media (max-width: 1200px) {

}

